<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->
<!DOCTYPE html>
<html>
  <head>
    <link href="/assignment.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container custom-container">
      <div class="row">
        {{>navbar}}
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 title-container">
          <h3>{{title}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 body-container">
          <form action="/course/{{course_id}}/assignment/{{assignment_id}}" method="post">
            {{#if questions}}
              {{#each questions}}
                <p>{{this}}</p>
                <input type="radio" name={{@index}} value="True" required>True
                <input type="radio" name={{@index}} value="False" > False<br>
              {{/each}}
            {{/if}}  
            <input type="submit" value="submit" id="submit">
          </form>
        </div>
      </div>
    </div>
        
  </body>
</html>
