<!-- 
Program: Education For All
Authors: Jason Anderson, Sean Cortes, Joel Huffman, Tingting Lin, Ting Ju Sheppy
Concept: Jacob Carter
-->

<!DOCTYPE html>
<html>
  <head>
    <link href="profile.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container" id="login-container">
      <div class="row">
        {{>navbar}}
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2" id="title-col">
          <h3>Profile</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2" id="body-col">
          <table class="table" id="profile-table">
            <tbody>
              <tr>
                <td>First Name</td>
                <td>{{this.first_name}}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{this.last_name}}</td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td>{{this.DOB}}</td>
              </tr>
              <tr>
                <td>Identification</td>
                <td>{{this.identification}}</td>
              </tr>
              <tr>
                <td>Account Type</td>
                <td>{{this.user_type}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md col-md-offset-4">
          
        </div>
      </div>
    </div>
  </body>
